.spqrt-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  padding: 30px;
}

.spqrt-card-name {
  font-weight: 600;
  font-size: calc(10px + 2vmin);
}

.spqrt-card-title {
  font-size: calc(5px + 2vmin);
}

.spqrt-card-shield,
.spqrt-card-name,
.spqrt-card-title {
  cursor: pointer;
}
